<aside class="sidebar">
  <h2 class="sidebar__title">Tipos de trueques</h2>
  <ul class="sidebar__list">
    <li *ngFor="let categoria of categorias">
      <button
        type="button"
        class="sidebar__item"
        [class.sidebar__item--active]="categoriaSeleccionada === categoria.id"
        (click)="seleccionar(categoria.id)"
      >
        {{ categoria.nombre }}
      </button>
    </li>
  </ul>

  <button class="publish-btn" type="button" (click)="onPublicar()">
    Publicar un trueque
    <span class="publish-btn__plus">+</span>
  </button>
</aside>
